<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/icons/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="/assets/vendor/sweetalert2/sweetalert2.min.css" />
    <title>Mi app product</title>
  </head>
  <body>
    <header>
      <div class="header">
        <h1>Mi app product</h1>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/products-real-time">Products</a></li>
        </ul>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
    <script src="/assets/vendor/sweetalert2/sweetalert2.all.min.js"></script>
  </body>
</html>